body{
    height: 1720px;
    display: flex;
    margin: 0;

    background: linear-gradient(135deg, #295fd5, #9d8ce0);
    align-items: center;
    justify-content: center;
    user-select: none;
}
.group{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.item{
    width: 200px;
    height: 1000px;
    background-position: center;
    background-size: 1000px;
    margin: 6px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
	box-shadow: 5px 5px 10px  rgba(33, 10, 53, 0.5);

}
.item::before,.item::after{
    width: 200px;
    height: 1000px;
    background-position: center;
    background-size: 1000px;
    margin: 6px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;

}
.item:hover{
    width: 600px;
    height: 1100px;  
    transition-delay: 0.1s;
	box-shadow: 5px 5px 10px  rgba(5, 8, 76, 0.8);
    

}

